<h1>Bem Vindo!</h1>
<hr> <br>
<%= render 'uploads/form', upload: @upload %>
<br> <hr> <br>

<h1>Lista de Lojas e Transações</h1>

<% @stores.each do |store| %>
  <div class="store-card">
    <h2><%= store.store_name %></h2>
    <p><strong>Proprietário:</strong> <%= store.owner_name %></p>

    <h3>Transações:</h3>
    <ul>
      <% store.transactions.each do |transaction| %>
        <% tipo = transaction.transaction_type %>
        <% sinal = tipo.signal == '-' ? '-' : '+' %>
        <li>
          <%= tipo.description %>: <%= sinal %>R$ <%= number_to_currency(transaction.value, unit: "", separator: ",", delimiter: ".") %>
        </li>
      <% end %>
    </ul>

    <% saldo = store.transactions.sum do |t| t.transaction_type.signal == '-' ? -t.value : t.value end %>
    <p><strong>Saldo final:</strong> R$ <%= number_to_currency(saldo, unit: "", separator: ",", delimiter: ".") %></p>

    <hr>
  </div>
<% end %>
